<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="DigitalWarehouse_Wock::mapped_products"
             title="Mapped WoCK Products"
             module="DigitalWarehouse_Wock"
             parent="Magento_Catalog::catalog"
             sortOrder="200"
             resource="DigitalWarehouse_Wock::config"
             action="wock/mapped/index" />

        <add id="DigitalWarehouse_Wock::wock_orders"
             title="WoCK Orders"
             module="DigitalWarehouse_Wock"
             parent="Magento_Catalog::catalog"
             sortOrder="205"
             resource="DigitalWarehouse_Wock::config"
             action="wock/orders/index" />

        <add id="DigitalWarehouse_Wock::api_catalogue"
             title="WoCK API Explorer"
             module="DigitalWarehouse_Wock"
             parent="Magento_Catalog::catalog"
             sortOrder="210"
             resource="DigitalWarehouse_Wock::config"
             action="wock/catalogue/index" />
    </menu>
</config>
 