<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- Fired when a product webhook is received from WoCK -->
    <event name="wock_product_webhook_received">
        <observer name="wock_product_webhook_sync"
                  instance="DigitalWarehouse\Wock\Observer\ProductWebhookObserver"/>
    </event>
    <!-- Fired when a delivery webhook is received from WoCK -->
    <event name="wock_delivery_webhook_received">
        <observer name="wock_delivery_webhook_process"
                  instance="DigitalWarehouse\Wock\Observer\DeliveryWebhookObserver"/>
    </event>
    <!-- Create placeholder WoCK keys when a Magento order is placed -->
    <event name="sales_order_place_after">
        <observer name="wock_order_place_after"
                  instance="DigitalWarehouse\Wock\Observer\OrderPlaceAfter"/>
    </event>
    <!-- Fulfill WoCK keys when order status reaches configured fulfillment status -->
    <event name="sales_order_save_after">
        <observer name="wock_order_status_change"
                  instance="DigitalWarehouse\Wock\Observer\OrderStatusChange"/>
    </event>
</config>
